body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}

.first-section {
    text-align: center;
    background-image: url(images/sylhet-flood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.big-font {
    color: black;
    padding-top: 10%;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

#section-button {
    padding: 20px 30px;

}

.second-section {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.small-donation {
    margin-bottom: 5%;
}

.taka {
    display: flex;
    margin-bottom: 5%;
}

.taka100 {
    margin-left: 30%;
}

.taka200 {
    color: lightcoral;
    border-style: solid;
    margin-left: 70px;
    background-color: rgb(255, 233, 233);
    border-radius: 5%;
    padding: 20px 15px;
}

.taka500 {
    margin-left: 70px;
}

.taka1000 {
    margin-left: 70px;
}

.taka5000 {
    margin-left: 70px;
}

.other-amount {
    text-decoration-color: black;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 30px;
    border-bottom: 30%;
    border-style: dotted;
    margin-left: 30%;
    margin-right: 30%;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: black;
}

.other-amount-button {
    padding: 20px 30px;
    margin-bottom: 5%;

}

.third-section {
    text-align: center;
}

.fourth-section {
    text-align: center;
    display: flex;
    padding-top: 50px;
    margin: 50px;

}

.food {
    background-color: lightcyan;
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
    width: 33%;
    padding-bottom: 1%;
    padding-top: 1%;

}

.shelter {
    width: 33%;
    background-color: rgb(247, 228, 230);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
    padding-top: 1%;
}

.education {
    width: 33%;
    background-color: rgb(240, 240, 170);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
    padding-top: 1%;
}

.fifth-section {
    display: flex;
    margin-top: 10%;
    margin-left: 120px;
    margin-right: 70px;
}

/* .flexible-cointainer {
    display: flex;
} */

/* #donate-down {
    border-top: 50%;
} */

#image {
    margin-left: 13%;
    margin-bottom: 5%;
    margin-right: 3%;

}

.donation {
    /* display: flex; */
    text-align: left;
}

button {
    margin-top: 9%;
    background-color: rgb(255, 77, 77);
    font-weight: 700;
    padding: 5% 15%;
    border-radius: 5px;
    border-color: rgb(255, 77, 77);
    box-shadow: none;
    color: white;
    border-style: solid;
}

.sixth-section {
    display: flex;
    margin-top: 3%;
    margin-left: 120px;

}

.second-donation {
    text-align: left;
    margin-top: 5%;
    margin-right: 80px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.seventh-section {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

#bold-font {
    font-weight: 900;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(13, 1, 46);
    padding: 2%;

}

.eighth-section {
    background-color: rgb(253, 253, 188);
    padding-bottom: 5%;
    margin: 5% 22%;
}

input {
    color: black;
    background-color: lightgray;
    border-color: transparent;
    padding: 5px;
}

.last-button {
    color: white;
    padding: 5px 15px;
    border-color: rgb(255, 77, 77);
    border-radius: 0%;
}