body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}

.third-section {
    text-align: center;
}

.fourth-section {
    text-align: center;
    display: flex;
    padding-top: 50px;
    margin: 50px;

}

.food {
    background-color: lightcyan;
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;

}

.shelter {
    background-color: rgb(247, 228, 230);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
}

.education {
    background-color: rgb(240, 240, 170);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
}

.fifth-section {
    margin-top: 10%;
    margin-left: 120px;
    margin-right: 70px;
}

.flexible-cointainer {
    display: flex;
}

.first-donate {
    padding-right: 10%;
}

#image {
    margin-left: 13%;
    margin-bottom: 5%;
}

.donation {
    display: flex;
    text-align: left;
}

button {
    margin-top: 9%;
    text-decoration: none;
    background-color: rgb(255, 77, 77);
    font-weight: 700;
    padding: 5% 15%;
    border-radius: 5px;
}

.sixth-section {
    display: flex;
    margin-top: 3%;
    margin-left: 120px;

}

.second-donation {
    text-align: left;
    margin-top: 5%;
    margin-right: 80px;
    margin-left: 120px;
    margin-bottom: 5%;
}