body {
    font-family: 'Lobster', cursive;
    margin: 0%;
}

.third-section {
    text-align: center;
}

.fourth-section {
    text-align: center;
    display: flex;
    padding-top: 50px;
    margin: 50px;

}

.food {
    background-color: lightcyan;
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;

}

.shelter {
    background-color: rgb(247, 228, 230);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
}

.education {
    background-color: rgb(240, 240, 170);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
}

.fifth-section {
    margin-top: 10%;
    margin-left: 120px;
    margin-right: 70px;
}

.flexible-cointainer {
    display: flex;
}

#donate-down {
    border-top: 50%;
}

#image {
    margin-left: 13%;
    margin-bottom: 5%;

}

.donation {
    display: flex;
    text-align: left;
}

button {
    margin-top: 9%;
    text-decoration: none;
    background-color: rgb(255, 77, 77);
    font-weight: 700;
    padding: 5% 15%;
    border-radius: 5px;
}

.sixth-section {
    display: flex;
    margin-top: 3%;
    margin-left: 120px;

}

.second-donation {
    text-align: left;
    margin-top: 5%;
    margin-right: 80px;
    margin-left: 120px;
    margin-bottom: 5%;
}

.seventh-section {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;

}

#bold-font {
    font-weight: 900;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(13, 1, 46);
    padding: 2%;

}