body {
    font-family: 'Finlandica', sans-serif;
    margin: 0%;
}

.first-section {
    text-align: center;
    background-image: url(images/sylhet-flood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.big-font {
    color: black;
    padding-top: 10%;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.third-section {
    text-align: center;
}

.fourth-section {
    text-align: center;
    display: flex;
    padding-top: 50px;
    margin: 50px;

}

.food {
    background-color: lightcyan;
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
    width: 33%;
    padding-bottom: 1%;
    padding-top: 1%;

}

.shelter {
    width: 33%;
    background-color: rgb(247, 228, 230);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
    padding-top: 1%;
}

.education {
    width: 33%;
    background-color: rgb(240, 240, 170);
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 15px;
    border-radius: 3%;
    padding-top: 1%;
}

.fifth-section {
    margin-top: 10%;
    margin-left: 120px;
    margin-right: 70px;
}

.flexible-cointainer {
    display: flex;
}

#donate-down {
    border-top: 50%;
}

#image {
    margin-left: 13%;
    margin-bottom: 5%;

}

.donation {
    display: flex;
    text-align: left;
}

button {
    margin-top: 9%;
    background-color: rgb(255, 77, 77);
    font-weight: 700;
    padding: 5% 15%;
    border-radius: 5px;
    border-color: rgb(255, 77, 77);
    box-shadow: none;
}

.sixth-section {
    display: flex;
    margin-top: 3%;
    margin-left: 120px;

}

.second-donation {
    text-align: left;
    margin-top: 5%;
    margin-right: 80px;
    margin-left: 120px;
    margin-bottom: 5%;
}

.seventh-section {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;

}

#bold-font {
    font-weight: 900;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(13, 1, 46);
    padding: 2%;

}

input {
    background-color: grey;
    padding: 5px;
}

.last-button {
    color: white;
    padding: 5px 15px;
    border-color: rgb(255, 77, 77);
}